nav.navbar.navbar-default(role='navigation')
    .container-fluid
        .navbar-header
          a.navbar-brand(href='#') 板中資訊社
        div
          ul.nav.navbar-nav
            li.active
              a(href='#') C++
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown') 語法
                b.caret
              ul.dropdown-menu
                li
                  a(href='ch01.html') 第一章 立刻動手
                li
                  a(href='ch02.html') 第二章 變數與指定運算子「=」
                li
                  a(href='ch03.html') 第三章 比較運算子與 if 陳述式
                li
                  a(href='ch04.html') 第四章 迴圈
                li
                  a(href='ch05.html') 第五章 基礎資料型別
                li
                  a(href='ch06.html') 第六章 字元與字串
                li
                  a(href='ch07.html') 第七章 陣列
                li
                  a(href='ch08.html') 第八章 自定義函數與資料型別
                li
                  a(href='ch09.html') 第九章 排序
            li
              a(href='2017summer.html') 2017暑假課表