meta(charset='UTF-8')
meta(content='text/html; charset=UTF-8',http-equiv='content-type')
title 第一章 立刻動手
link(rel='stylesheet',type="text/css",href='style.css')
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
link(href="style.css" rel="stylesheet" type="text/css")